[workspace]
members = [
    "modules/dpe/api",
    "modules/dpe/dto",
    "modules/dpe/server",
    "modules/dpe/services",
    "modules/dpe/storage",
    "modules/dpe/types",
    "modules/design_system/components",
    "modules/design_system/playground",
]
resolver = "3"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace.package]
edition = "2021"
homepage = "https://github.com/dasch-swiss/dsp-repository"
repository = "https://github.com/dasch-swiss/dsp-repository"
documentation = "https://github.com/dasch-swiss/dsp-repository"
readme = "README.md"
description = "The DSP-Repository provides tooling and services for transforming, validating, and serving research project metadata and data. It is part of the DaSCH Service Platform, supporting FAIR principles for research data in the humanities."
authors = ["DaSCH - Swiss National Data and Service Center for the Humanities"]

[workspace.dependencies]
askama = { version = "0.13.0", features = ["full"] }
async-stream = "0.3.6"
axum = { version = "0.8.3", features = ["macros", "ws"] }
axum-macros = "0.5.0-alpha.1"
datastar = { git = "https://github.com/starfederation/datastar", tag = "v1.0.0-beta.11", features = [
    "axum",
] }
futures = "0.3.31"
log = "0.4.22"
maud = { version = "0.27.0", features = ["axum"] }
regex = "1.11.1"
serde = { version = "1", features = ["derive"] }
serde_with = "3.11.0"
serde_json = "1"
tokio = { version = "1", features = ["full"] }
tokio-stream = "0.1.17"
tower = "0.5.1"
tower-http = { version = "0.6.2", features = ["trace", "fs", "cors"] }
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
url = { version = "2", features = ["serde"] }
uuid = { version = "1.2.2", features = ["v7"] }
pulldown-cmark = "0.12"
