{% extends "base.html" %}

{% block content %}
<main class="flex-1">
  <div class="min-h-screen bg-gray-50">
    <div class="mx-auto max-w-screen-2xl px-6 py-6">
      <div class="flex-1 min-w-0">
        <div class="mb-4 text-sm text-gray-600">
          66 projects
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
          {% for project in projects %}
            {% include "index_project.html" %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
