 @layer components {
  .card {
    @apply rounded-lg bg-white overflow-hidden;
  }

  .card-default {
    @apply bg-white;
  }

  .card-bordered {
    @apply border border-neutral-200;
  }

  .card-elevated {
    @apply shadow-md;
  }

  .card-autohover {
    @apply border border-neutral-200 transition-shadow duration-300;
  }

  .card-autohover:hover {
    @apply shadow-md;
  }

  .card-header {
    @apply px-6 py-4 border-b border-neutral-200;
  }

  .card-body {
    @apply px-6 py-4;
  }

  .card-footer {
    @apply px-6 py-4 border-t border-neutral-200 bg-neutral-50;
  }
}
