@layer components {
  .badge {
    @apply inline-flex items-center justify-center gap-1 rounded-md font-medium;
  }

  /* Sizes */
  .badge-sm {
    @apply px-2.5 py-1 text-xs;
  }

  .badge-md {
    @apply px-3 py-1 text-sm;
  }

  .badge-lg {
    @apply px-4 py-1.5 text-base;
  }

  /* Variants */
  .badge-primary {
    @apply bg-indigo-100 text-indigo-800;
  }

  .badge-secondary {
    @apply bg-gray-100 text-gray-800;
  }

  .badge-success {
    @apply bg-green-100 text-green-800;
  }

  .badge-warning {
    @apply bg-yellow-100 text-yellow-800;
  }

  .badge-danger {
    @apply bg-red-100 text-red-800;
  }

  .badge-info {
    @apply bg-blue-100 text-blue-800;
  }
}
