<!DOCTYPE html>
<html lang="en">
<head>
    <title>Metadata Browser v2</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
  <div id="root">
    <div class="flex flex-col min-h-screen">
      <header class="bg-white border-b border-gray-200">
        <div class="mx-auto px-6 py-4 max-w-screen-2xl">
          <div class="flex items-center justify-between">
            <a class="flex items-center gap-3" href="/">
              <img src="https://app.dasch.swiss/assets/images/dasch-mosaic-icon-color.svg" alt="DaSCH Logo" class="h-8">
              <h1 class="font-bold text-gray-900 text-xl">
                DaSCH Metadata Browser
              </h1>
            </a>
          </div>
        </div>
      </header>

    <main class="flex-1">
      <div class="min-h-screen bg-gray-50">
        <div class="mx-auto max-w-screen-2xl px-6 py-6">
          <div class="flex-1 min-w-0">
            <div class="mb-4 text-sm text-gray-600">
              66 projects
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
              {% for project in projects %}
                {% include "project.html" %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
</html>
