name: Docker publish mosaic-demo image

on:
  push:
    branches:
      - main
    paths:
      - "modules/mosaic/**"

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  publish:
    name: Build and publish mosaic-demo
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.output_docker_image_tag.outputs.tag }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Generate docker image tag
        id: output_docker_image_tag
        run: |
          VERSION=$(grep '^version' modules/mosaic/demo/Cargo.toml | sed 's/.*"\(.*\)"/\1/')
          echo "tag=$VERSION" >> "$GITHUB_OUTPUT"

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: modules/mosaic/demo/Dockerfile
          push: true
          tags: daschswiss/mosaic-demo:${{ steps.output_docker_image_tag.outputs.tag }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  trigger-prod-deployment:
    name: Trigger deployment to PROD
    runs-on: ubuntu-latest
    needs: publish_manifest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Trigger deployment to PROD
        env:
          IMAGE_TAG: ${{ needs.publish.outputs.tag }}
          JENKINS_BASIC_AUTH_USER: ${{ secrets.JENKINS_BASIC_AUTH_USER }}
          JENKINS_BASIC_AUTH_PASS: ${{ secrets.JENKINS_BASIC_AUTH_PASS }}
          JENKINS_UPDATE_RELEASE_WEBHOOK: ${{ secrets.JENKINS_UPDATE_RELEASE_WEBHOOK }}
        run: |
          curl -f -u "${JENKINS_BASIC_AUTH_USER}:${JENKINS_BASIC_AUTH_PASS}" \
               -X POST "${JENKINS_UPDATE_MOSAIC_PROD_WEBHOOK}" \
               -d "Service=mosaic&Version=${IMAGE_TAG}"
